@{
    ViewData["Title"] = "Home Page";
}

<center><input type="text" id="num1"/><input type="text" id="num2"/></center>
<center><input type="button" onclick="TellBackend()" value="Click ME"/></center>
<div id="divContainer">

</div>